<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="login-wrapper">
      <div class="login-container">
        <h1>Account Login</h1>
        {{#if messages.error}}
          <div class="alert alert-danger">{{messages.error}}</div>
        {{/if}}

        {{#if messages.success}}
          <div class="alert alert-success">{{messages.success}}</div>
        {{/if}}
        <form class="login-form" action="/login" method="post">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <button type="submit">Login</button>
        </form>
      </div>
    </div>

  </body>
</html>